<<<<<<< Updated upstream
@font-face {
    font-family: 'Magallanes Black';
    src: url('fonts/MagallanesBlack.ttf') format('truetype');
}

.jumbotron {
    padding: 5%;
}

.jumbotron-banner {
    background-image: url("images/TroyView.jpg");
    color: rgb(0, 0, 0);
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    z-index: 100;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

#logo {
    width: 280px;
    padding: 0;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    text-align: center;
    font-size: 300%;
}

.display-4 {
    font-family: "Magallanes Black";
    margin-bottom: 0;
}

.lead {
    margin-bottom: 3px;
}

main {
    margin-top:15%;
    padding-bottom: 2500px;
    font-size:30px
}

/* Explore banner */

.explore-heading {
    text-align: center;
    margin: 50px 0 50px 0;
}

.explore-heading h2 {
    font-size: 48px;
}

.explore-boxes {
    height: 200px;
    align-items: center;
    margin-bottom: 50px;
}

.explore-box-1 {
    background-color: #a8dadc;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box-2 {
    background-color: #457b9d;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box-3 {
    background-color: #e63946;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box:hover {
    cursor: pointer;
    color: #f1faee;
    transition: 0.5s;
}

.jumbotron-banner {
    background-image: url("images/TroyView.jpg");
    color: rgb(0, 0, 0);
}

#logo {
    width: 280px;
    margin: 0, auto;
    padding: 0;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    text-align: center;
}

.display-4 {
    margin-bottom: 0;
}

.lead {
    margin-bottom: 3px;
}

.columns {
    text-align: center;
=======
@font-face {
    font-family: 'Magallanes Black';
    src: url('fonts/MagallanesBlack.ttf') format('truetype');
}

.jumbotron {
    padding: 5%;
}

.jumbotron-banner {
    background-image: url("images/Troy-Music-Mural.jpg");
    color: rgb(0, 0, 0);
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    z-index: 100;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

#logo {
    width: 280px;
    padding: 0;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    text-align: center;
    font-size: 300%;
}

.display-4 {
    font-family: "Magallanes Black";
    margin-bottom: 0;
}

.lead {
    margin-bottom: 3px;
}

main {
    margin-top:15%;
    padding-bottom: 2500px;
    font-size:30px
}

/* Explore banner */

.explore-heading {
    text-align: center;
    margin: 50px 0 50px 0;
}

.explore-heading h2 {
    font-size: 48px;
}

.explore-boxes {
    height: 200px;
    align-items: center;
    margin-bottom: 50px;
}

.explore-box-1 {
    background-color: #a8dadc;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box-2 {
    background-color: #457b9d;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box-3 {
    background-color: #e63946;
    margin: 0 20px 0 20px;
    border-radius: 8px;
    padding: 50px;
}

.explore-box:hover {
    cursor: pointer;
    color: #f1faee;
    transition: 0.5s;
}

.columns {
    text-align: center;
>>>>>>> Stashed changes
}