body {
    font-family: 'Maven Pro', sans-serif;
}

.navbar-brand{
    width: 80px;
    height: 80px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: -20px;
}

.nav-link {
    color: #a8dadc;
}

.nav-link:hover {
    color: #f1faee;
}

/* Profile page */

.profile-header {
    background-color: #457b9d;
    padding: 1%;
    display: flex;
}

.profile-header-text {
    display: inline-block;
    color: #f1faee;
    font-size: 24px;
}

#profile-photo {
    width: 120px;
    height: auto;
    border-radius: 100%;
    border: 2px solid #838383;
    margin-top: 20px;
}

#fileToUpload {
    width: auto;
    height: auto;
    padding: 5px;
    display: inline-block;
}

.profile-form-label {
    font-size: 24px;
}

.chip {
    color: #343a40;
    font-size: 18px;
    border: 2px solid;
    border-radius: 16px;
    margin: 5px;
    padding: 2px 15px;
    cursor: pointer;
}

.explore-chip {
    font-size: 14px;
}

.chip-active {
    background-color: #457b9d;
    color: white;
    border-color: #343a40;
}

.chip.tile {
    margin: 3px auto;
}

.chip.tile.hiddentile{
    display: none;
}

.form-row>[class*=col-] {
    padding: 2px 15px;
}

/* Post page */

.post-page {
    font-size: 18px;
}

#size{
    font-size:20px;
}

.post-header {
    background-color: #457b9d;
    padding: 1%;
    display: flex;
}

.intro p {
    margin-bottom: 10px;
    color: white;
    background-color: #457b9d;
    padding: 20px;
    border-radius: 10px;
}

.postpagecurrent{
    border: 2px solid #457b9d;
    padding: 20px;
    border-radius: 8px;
}

/* .postpageborder{
    border: 2px solid #457b9d;
    padding: 30px;
    border-radius: 8px;
} */

.post-section {
    margin-bottom: 20px;
}

fieldset.col-md {
    padding-left: 0;
}

#restaurant_items{
    display:none;
}

.colorchange{
    background-color: #457b9d;
    color: white;
    border-color: #343a40;
}

#shop_items{
    display:none;
}

#excursion_items{
    display:none;
    margin-top:-30px;
}

.activitychips{
    margin-bottom:-30px;
    padding-bottom: 42px;
}

#nameof{
    color: #457b9d;
}

.date-label {
    margin-bottom: 10px;
}

.photo-label {
    margin-bottom: 10px;
}

.rating-label {
    margin-bottom: 5px;
}

.form-label-center {
    font-size: 24px;
    text-align: center;
}

.text{
    font-size:18px;
}

.section-border {
    border: 2px solid #457b9d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post-header-text{
    display: inline-block;
    color: #f1faee;
    font-size: 24px;
}

.container{
    padding:10px 10px 10px 10px
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
}
  
.star-rating .fa-star {
    cursor: pointer;
}

.filled {
    color: #f9c74f;
}

.unfilled {
    color: #343a40;
}

.jumbotron-banner {
    background-size: 100%;
    background-position: center;
    background-color: #457b9d;
    color: rgb(0, 0, 0);
    height: 550px;
    text-align: center;
}

.banner-logo {
    padding-top: 10px;
    background-color: #f1faee;
    border-radius: 20px;
    margin-top: 40px;
    height: 300px;
}

main {
    font-size:30px;
    padding-bottom: 1%;
}

.lead {
    font-size: 36px;
    color: #f1faee;
    font-weight: bold;
}


/* Explore banner */

.explore-heading {
    text-align: center;
    color: #343a40;
}

.explore-heading h2 {
    padding-top: 40px;
    font-size: 48px;
    margin-bottom: 30px;
}

.columns {
    text-align: center;
}

.explore-boxes {
    align-items: center;
    margin-bottom: 100px;
}

.explore-box {
    margin: 0 20px 20px 20px;
    border-radius: 8px;
    padding: 50px;
    color: #343a40;
}

.explore-box:hover {
    cursor: pointer;
    color: #f1faee;
    transition: 0.5s;
}

#explore-box-1 {
    background-color: #a8dadc;  
}

#explore-box-2 {
    background-color: #457b9d;
}

#explore-box-3 {
    background-color: #e63946;
}

/* Explore page */

.explore-category {
    background-color: #457b9d;
    padding: 1%;
    display: flex;
}

.explore-page-header-text{
    display: inline-block;
    color: #f1faee;
    font-size: 24px;
}

#dropdown-menus {
    float: left;
    margin-left: 50px;
}

.bootstrap-select>.dropdown-toggle {
    border: 2px solid #838383;
    border-radius: 10px;
}

.amenu {
    margin-left: 30px;
    margin-right: 30px;
    height: 20px;
}

#exploreSearch {
    display: inline-block;
    position: absolute;
    right: 2%;
    width: 12%;
    background-color: #ffffff;
    font-size: 50%;
    border-radius: 10px;
    display: flex;
    width: 200px;
    height: 40px;
}

#exploreSearch, textarea {
    transition: all .30s;
    outline: none;
    padding: 3px 0 3px 10px;
    border: 2px solid #838383;
  }
   
#exploreSearch:focus, textarea:focus {
    box-shadow: 0px 0px 10px 4px rgb(44, 110, 128);
    padding: 3px 0px 3px 10px;
    border: 2px solid #a8dadc;
}

.explore-page-main {
    text-align: center;
}

.explore-grid {
    margin-top: 30px;
}

.explore-grid .grid-item {
    margin: 0 20px 50px 20px;
    color: #343a40;
    height: 600px;
    border-radius: 10px 0 10px 10px;
    border: 2px solid #838383;
    font-size: 20px;
    padding: 0;
    padding-bottom: 50px;
    transition: box-shadow 0.3s;
}

.explore-grid .grid-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(109, 109, 109);
    text-decoration: none;
}

.rating .filled-star {
    color: #f9c74f;
    font-size: 25px;
    position: relative;
    top: 2px;
}

.rating .unfilled-star {
    color: #343a40;
    font-size: 25px;
    position: relative;
    top: 2px;
}

.avg-rating {
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

.no-rating {
    font-size: 14px;
    line-height: 37px;
}

.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #343a40;
    font-size: 25px;
    height: 25px;
    width: auto;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
  }
  
  .rating-upper {
    color: #f9c74f;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
  }

.hidden-attrid {
    display: none;
}

.description {
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.listingTitle {
    width: 100%;
    height: 15%;
}

.locationName {
    padding-top: 2%;
    font-size: 18px;
    margin-bottom: 0;
    color: #e63946;
}

.address, .phone {
    margin-bottom: 5px;
    font-size: 14px;
}

.tmpImg {
    object-fit: cover;
    width: 100%;
    height: 40%;
    border-radius: 8px 0 0 0;
    border-bottom: 2px solid #838383;
    position: relative;
}

.chips {
    padding: 10px;
}

/* Listing page */

.not-favorited {
    margin-left: 20px;
    cursor: pointer;
    color: #f1faee;
}

.favorited {
    margin-left: 20px;
    cursor: pointer;
    color: #f08080;
}

.review-button {
    position: absolute;
    right: 1%;
}

.reviews {
    margin: 20px 20px 0 20px;
    font-size: 20px;
}

.review {
    border: 2px solid #457b9d;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.review .review-header {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    color: #e63946;
}

.review .rating {
    display: inline-block;
    color: #f9c74f;
}

.review-date {
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
}

.review-description {
    font-size: 18px;
}

.actions {
    color: #343a40;
    margin-bottom: 5px;
}

.actions i {
    margin: 5px;
}

.heart-icon {
    cursor: pointer;
}

.num-likes {
    margin-right: 5px;
}

.comment-icon {
    cursor: pointer;
}

.review-comments {
    display: none;
    border: 2px solid #457b9d;
    border-top: none;
    background-color: #a8dadc;
    width: 100%;
    border-radius: 0 0 8px 8px;
    margin-bottom: 20px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #838383;
}

.review-comment {
    border: 2px solid #838383;
    color: #343a40;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    background-color: white;
}

.comment-container {
    padding: 10px 5px;
    margin-bottom: 0;
}

.submit-comment-button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #457b9d;
    background-color: white;
    margin-left: 10px;
}

.submit-comment-button:hover {
    background-color: #457b9d;
    transition: 0.5s;
    color: white;
}

.submit-comment-button:focus {
    outline: none;
}

input.review-comment:focus {
    outline: none;
    border: 2px solid #e63946;
    transition: 0.5s;
}

.following {
    border-color: goldenrod;
}

/* Favorites page */

.no-favorites-message {
    font-size: 20px;
}

/* Footer */

footer {
    text-align: center;
    background-color: #343a40;
}

/* Optional class which is added if the content of the page is smaller than the current screen height (See eventhandling.js for more information) */

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    margin-bottom: 0;
    padding: 20px 0;
    color: whitesmoke;
}

.footer-link {
    color: #a8dadc;
}

.footer-link:hover {
    color: whitesmoke;
    text-decoration: none;
}

.float_window{
    padding:20px;
    width: 200px;
    left: 5%;
    top:150px;
    border-radius: 16px;
    background-color: white;
    position: fixed;
}
.location_title{
    font-size: 20px;
}
.location_description{
    color: grey;
}