body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    width: 80px;
    height: 80px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: -20px;
}

.nav-link {
    color: #a8dadc;
}

.nav-link:hover {
    color: #f1faee;
}

/* Profile page */

.chip {
    color: #343a40;
    font-size: 18px;
    border: 2px solid;
    border-radius: 16px;
    margin: 5px;
    padding: 0 10px;
}

.chips {
    margin-bottom: 20px;
}

/* Post page */

.post-page {
    font-size: 18px;
}

.post-header {
    background-color: #457b9d;
    padding: 1%;
    display: flex;
}

.post-header-text{
    display: inline-block;
    color: #f1faee;
    font-size: 24px;
}

.container{
    padding:10px 10px 10px 10px
}

.options{
   border-style:solid;
   border-color: red;
}

.font{
    font-family: 'Poppins', sans-serif;
}

.jumbotron-banner {
    background-size: 100%;
    background-position: center;
    background-color: #457b9d;
    color: rgb(0, 0, 0);
    height: 550px;
    text-align: center;
}

.banner-logo {
    padding-top: 10px;
    background-color: #f1faee;
    border-radius: 20px;
    margin-top: 40px;
    height: 300px;
}

main {
    font-size:30px;
    padding-bottom: 1%;
}

.lead {
    font-size: 36px;
    color: #f1faee;
    font-weight: bold;
}


/* Explore banner */

.explore-heading {
    text-align: center;
    color: #343a40;
}

.explore-heading h2 {
    padding-top: 40px;
    font-size: 48px;
    margin-bottom: 30px;
}

.columns {
    text-align: center;
}

.explore-boxes {
    align-items: center;
    margin-bottom: 100px;
}

.explore-box {
    margin: 0 20px 20px 20px;
    border-radius: 8px;
    padding: 50px;
    color: #343a40;
}

.explore-box:hover {
    cursor: pointer;
    color: #f1faee;
    transition: 0.5s;
}

#explore-box-1 {
    background-color: #a8dadc;  
}

#explore-box-2 {
    background-color: #457b9d;
}

#explore-box-3 {
    background-color: #e63946;
}

/* Explore page */

.explore-category {
    background-color: #457b9d;
    padding: 1%;
    display: flex;
}

.explore-page-header-text{
    display: inline-block;
    color: #f1faee;
    font-size: 24px;
}

#exploreSearch {
    display: inline-block;
    position: absolute;
    right: 2%;
    height: 5%;
    width: 20%;
    background-color: #ffffff;
    font-size: 50%;
    border-radius: 10px;
}

#exploreSearch, textarea {
    transition: all .30s;
    outline: none;
    padding: 3px 0 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #838383;
  }
   
#exploreSearch:focus, textarea:focus {
    box-shadow: 0px 0px 10px 4px rgb(44, 110, 128);
    padding: 3px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #a8dadc;
}

.explore-page-main {
    text-align: center;
}

.explore-grid {
    margin-top: 30px;
}

.explore-grid .grid-item {
    margin: 0 20px 50px 20px;
    color: #343a40;
    height: 350px;
    border-radius: 10px 0 10px 10px;
    border: 2px solid #838383;
    font-size: 20px;
    padding: 0;
    padding-bottom: 20px;
    transition: box-shadow 0.3s;
}

.explore-grid .grid-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(109, 109, 109);
    text-decoration: none;
}

.rating .filled-star {
    color: #f9c74f;
    padding: 2px;
    font-size: 18px;
}

.rating .unfilled-star {
    color: #343a40;
    padding: 2px;
    font-size: 18px;
}

.rating .avg-rating {
    margin-left: 5px;
    font-size: 14px;
}

.description {
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.listingTitle {
    width: 100%;
    height: 15%;
}

.locationName {
    padding-top: 2%;
    font-size: 18px;
    margin-bottom: 0;
    color: #e63946;
}

.address, .phone {
    margin-bottom: 5px;
    font-size: 14px;
}

.tmpImg {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 8px 0 0 0;
    border-bottom: 2px solid #838383;
}

/* Listing page */

.attraction-name {
    color: #a8dadc;
}

.review-button {
    float: right;
}

.reviews {
    margin: 20px 20px 0 20px;
    font-size: 20px;
}

.review {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #457b9d;
    text-align: left;
    padding-top: 10px;
}

.review .review-header {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    color: #e63946;
}

.review .rating {
    display: inline-block;
    color: #f9c74f;
}

.review-description {
    font-size: 18px;
}

.actions {
    color: #343a40;
}

.review-comments {
    background-color: #343a40;
    width: 100%;
    border-radius: 0 0 8px 8px;
    margin-bottom: 20px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.review-comment {
    background-color: #6C757D;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
}

.comment-container {
    padding: 10px 5px;
}

/* Footer */

footer {
    text-align: center;
    background-color: #343a40;
}

/* Optional class which is added if the content of the page is smaller than the current screen height (See eventhandling.js for more information) */

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    margin-bottom: 0;
    padding: 20px 0;
    color: whitesmoke;
}

.footer-link {
    color: #a8dadc;
}

.footer-link:hover {
    color: whitesmoke;
    text-decoration: none;
}