html {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
    width: 80px;
    height: 80px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: -20px;
}

.jumbotron {
    transition: 1;
}
.container{
    padding:10px 10px 10px 10px
}

.form-group{
    margin-top:70px;
}
    form-control{
        margin-bottom:75px;
    }
   .options{
       border-style:solid;
       border-color: red;
   }
   .intro{
    font-family: 'Commissioner', sans-serif;
    font-size:30px;
    background-color: #a8dadc;
    margin-top:-37px;
    margin-left: -78px;
    margin-right:-78px;
    text-align:center;
   }
   .font{
    font-family: 'Poppins', sans-serif;
   }

.jumbotron-banner {
    background-size: 100%;
    background-position: center;
    background-color: #457b9d;
    color: rgb(0, 0, 0);
    height: 650px;
    text-align: center;
}

.banner-logo {
    padding-top: 10px;
    background-color: #f1faee;
    border-radius: 20px;
    margin-top: 40px;
}

#logo {
    width: 280px;
    padding: 0;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    text-align: center;
    font-size: 300%;
}

main {
    font-size:30px;
    padding-bottom: 1%;
}

.lead {
    margin-top: 50px;
    font-size: 48px;
    color: #f1faee;
    font-weight: bold;
}


/* Explore banner */

.explore-heading {
    text-align: center;
}

.explore-heading h2 {
    padding-top: 40px;
    font-size: 48px;
    margin-bottom: 30px;
}

.columns {
    text-align: center;
}

.explore-boxes {
    align-items: center;
    margin-bottom: 100px;
}

.explore-box {
    margin: 0 20px 20px 20px;
    border-radius: 8px;
    padding: 50px;
    color: #343a40;
}

.explore-box:hover {
    cursor: pointer;
    color: #f1faee;
    transition: 0.5s;
}

#explore-box-1 {
    background-color: #a8dadc;  
}

#explore-box-2 {
    background-color: #457b9d;
}

#explore-box-3 {
    background-color: #e63946;
}

/* Explore page */
.explore-category {
    background-color: #a8dadc;
    padding: 1%;
    display: flex;
    justify-content: space-betweenS;
}

.explore-page-header-text{
    display: inline-block;
}

#exploreSearch {
    display: inline-block;
    position: absolute;
    right: 2%;
    height: 3%;
    width: 8%;
    background-color: #ffffff;
    font-size: 50%;
    border-radius: 10px;
}

#exploreSearch, textarea {
    transition: all .30s;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0086bb;
  }
   
#exploreSearch:focus, textarea:focus {
    box-shadow: 0px 0px 10px 4px rgb(44, 110, 128);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }

.explore-page-main {
    margin-top: 76px;
    text-align: center;
}

.explore-grid {
    margin-top: 30px;
}

.explore-grid .grid-item {
    margin: 0 20px 50px 20px;
    background-color: #457b9d;
    height: 300px;
    border-radius: 8px;
}

.tmpImg {
    margin-top: 10px;
    box-shadow: 0px 0px 10px 4px rgb(0, 44, 56);
    display: block;
    height: 60%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.locationName {
    display: block;
    padding-bottom: 0;
}

/* Footer */

footer {
    text-align: center;
    background-color: #343a40;
}

/* Optional class which is added if the content of the page is smaller than the current screen height (See eventhandling.js for more information) */
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    margin-bottom: 0;
    padding: 20px 0;
    color: whitesmoke;
}

.footer-link {
    color: #a8dadc;
}

.footer-link:hover {
    color: whitesmoke;
    text-decoration: none;
}